#root {
  margin: 0 auto;
  text-align: center;
}

#textarea{
  width: 758px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 1%;
  font-size: 20px;
}



button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}






